.home-section{
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  border-bottom: 3px solid var(--green-300);
}

.about{
  height: 100vh;
}
.works{
  height: 100vh;
}
.contact{
  height: 100vh;
}